@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
:root {
  --bg-color: #1d2834;
  --second-color: #112e42;
  --text-color: #ededed;
  --main-color: #1d2834;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}

main {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  background: var(--main-color);
}

.border-card {
  border: 2px solid #a6bfd3;
}
.border-email {
  border: 2px solid #374151;
}
.border-card:hover {
  border: 2px solid #2563eb;
}
.border-timeline {
  border-left: 1px solid #374151;
}
.border-linkedin {
  border: 2px solid #0a66c2;
}
.border-gitlab {
  border: 2px solid #fc6d26;
}
.border-github {
  border: 2px solid #bdbcbc;
}
